/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* fonten för sidan */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* tar bort margins och paddings från listan */
ul {
  margin: 0;
  padding: 0;
}

/* list styling */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* gör så att man inte kan välja fårn tasksen */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* gör att varannan blir en annan färg, skapar dynamik */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* gör att to-do tasken du hoverar över blir mörk */
ul li:hover {
  background: #ddd;
}

/* när du trycker på en to-do task, markeras den som klar */
ul li.checked {
  background: #888;
  color: #fff;
}

/* implementering av check mark */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* designen på "ta bort" knappen */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* designen på headern */
.header {
  background-color: gray;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

/* design av input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* design av lägg till knappen */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}