/* header properties */
header {
  background-color: whitesmoke;
  text-align: center;
  margin: 0 0 30px 0;
  height: 80px;
  width: 100%;
}

/* the header text property */
h1 {
  color: #4CAF50;
  margin-top: 40px;
}

/* todo */
#newTodo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* todo tasks */
ul {
  width: 80%;
}

/* todo tasks, elements */
li {
  list-style: none;
  justify-content: space-evenly;
  padding: 20px;
  border: #cccccc solid 3px;
  margin-bottom: 25px;
}

/* todo tasks, elements, odd ones */
li:nth-child(odd) {
  background: lightgreen;
}

/* todo tasks, elements, on hover */
ul li:hover {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  color: black;
}

/* button */
.btn {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid gray; /* Green */
  margin-top: 10px;
}

/* button hover */
.btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

/* delete button in todo tasks elements */
.delBtn {
  float: right;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid gray; /* Green */
}

/* delete button in todo tasks elements, on hover */
.delBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  width: max-content;
}